.productList{
	display: flex;
	justify-content: center;

}

.productCardImage img{
	height: 330px;
	width: 300px;
	
}

.productCards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	position: relative;
	left: 150px;
}

.productCard{
	width: 400px;
	padding: 40px;
	margin: 10px;
	border: 1px solid black;

}


section.row{
	margin:0 0 30px 0;
}
.row{
	width: 100%;
	display: block;
	clear: both;
}


.item{
	max-width:260px;
	max-height:260px;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	position: relative;
	top:0;
	left:0;
	z-index:5;
	overflow: hidden;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	        box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	margin: 20px;
}

.itemImage{
	width: 260px;
	height: 260px;
}

.item-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border-radius: 3px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	
	
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 ); /* IE6-8 */
	transition: background-color 0.2s ease-in-out;
}
.item:hover .item-overlay{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 ); /* IE6-8 */
	background-color: rgba(0,0,0,0.4);
}
.item-content{
	position: absolute;
	width:100%;
	bottom: 0;
	transform: translate(0,100%);
	transition: all 0.3s ease-in-out;
	
}
.item:hover .item-content{
	transform: translate(0,0);
	transition: all 0.3s ease-in-out;
}

.item-top-content{
	position: relative;
}
.item-top-content-inner{
	position: absolute;
	bottom: 0;
	padding:10px 15px 10px 15px;
	background: rgba(255,255,255,.85);
	width:100%;
}
.item-add-content{
	padding:0 15px 15px 15px;
	opacity:0;
	transition: all 0.3s ease-in-out;
}
.item:hover .item-add-content{
	opacity:1
}
.item-add-content-inner{
	border:0px solid #dadada;
	border-top-width:1px;
	padding-top:10px;
}

.btn.buy{
	background-color: #40c781;
	text-align:center;
	line-height:42px;
	font-weight:700;
	color:#fff;
	border-radius:3px;
	text-decoration:none;
	opacity:1;
	border:0px solid #35a76e;
	border-bottom-width:2px;
	transition: all 0.2s ease-in-out;
}
.btn.buy:hover{
	background-color:#34a46c;
}
.expand{
	display:block;
}

/* Tags */
.sale-tag{
	width: 50px;
	height: 100px;
	background: #40c781;
	position: absolute;
	top:-45px;
	right:-10px;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.sale-tag span{
	position:absolute;
	top:48px;
	left:2px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	font-size:11px;
	color:#fff;
}

/* content */

.item-product{
	width:70%;
	float:left;
}
.item-product-price{
	width:30%;
	float:right;
	text-align: right;
}
/* Style / Theming */

.productList{
	margin: -13px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #E3E3E3 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #E3E3E3 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #E3E3E3 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #E3E3E3 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #E3E3E3 100%);
}

/*Product title*/
h2{
	font-size:1em;
	font-weight:400;
	color:#222;
}

.subdescription{
	font-family: 'helvetica neue';
	font-size:0.8em;
	font-weight:400;
	color:#7d7d7d;
}

/*product price*/
.item-product-price{
	color:#40c781;
	font-size:1em;
	font-weight:700;
	position:relative;
	font-family:'helvetica neue'
}
.item-product-price .subdescription{
	color:#7d7d7d;
}
.old-price{
	border:0 solid #7d7d7d;
	border-bottom-width:1px;
	margin-top:-11px;
	width:30px;
	position:absolute;
	right:-2px;
	bottom:10px;
	-webkit-transform: rotate(-30deg);
	   -moz-transform: rotate(-30deg);
	    -ms-transform: rotate(-30deg);
	     -o-transform: rotate(-30deg);
	        transform: rotate(-30deg);
}

.item-content{
	background: rgba(255,255,255,.85);
}
.item-add-content{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	color:#7d7d7d;
}
.item-add-content .section{
	margin-bottom:10px;
}
.item-add-content .section:last-of-type{
	margin-bottom:0;
}
.item-add-content h4{
	font-weight:600;
	color:#222;
	font-size:0.8em;
}
.item-add-content p{
	font-size:0.8em;
}


/* Item menu */
.item-menu{
	position: absolute;
	top:3px;
	left:0px;
	height:254px;
	width:260px;
	border-radius:3px 0 0 3px;
	background:#4f4f4f;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	        box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-webkit-transform: translate(0,0);
	   -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	     -o-transform: translate(0,0);
	        transform: translate(0,0);
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.item-menu.visible{
	-webkit-transform: translate(-70px,0);
	   -moz-transform: translate(-70px,0);
	    -ms-transform: translate(-70px,0);
	     -o-transform: translate(-70px,0);
	        transform: translate(-70px,0);
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.item-menu:hover{
	-webkit-transform: translate(-70px,0);
	   -moz-transform: translate(-70px,0);
	    -ms-transform: translate(-70px,0);
	     -o-transform: translate(-70px,0);
	        transform: translate(-70px,0);
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
/*List*/
.popout-menu ul{
	list-style-type:none;
}
.popout-menu ul li{
	-webkit-box-shadow: inset 0px 1px rgba(255,255,255,0.1);
	        box-shadow: inset 0px 1px rgba(255,255,255,0.1);
	border-bottom:1px solid #434343;
}
.popout-menu ul li:first-of-type{
	-webkit-border-radius: 3px 0;
	        border-radius: 3px 0;
}
.popout-menu ul li:last-of-type{
	border-bottom-width:0px;
}
.popout-menu ul li:hover{
	background:#434343;
}
.popout-menu ul li a{
	color:#eaeaea;
	font-weight:600;
	font-size:0.8em;
	text-decoration:none;
	line-height: 36px;
	padding:0 15px;
	display:block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}