.productList{
	display: flex;
	justify-content: center;
}

.productCardImage img{
	height: 330px;
	width: 300px;
	
}

.productCards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	

}

.productCard{
	width: 400px;
	padding: 40px;
	margin: 10px;
	border: 1px solid black;

}