.partners{
	height: 400px;
}

.partnersCards{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	
}

.partnersTitle{
	font-size: 54px;
	font-weight: 600;
	margin-top: 50px;
}

.partnersCardImage{
	cursor: pointer;
}