.sideBar{
	position: absolute;
	background-color: rgba(245, 245, 245, 0.666);
	height: 100%;

}

.sidebarSubtitle{
	color: hsl(0, 7%, 58%);
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;	
	font-weight: 500;
	margin-top: 40px;
	
}

.align{
	margin: 10px;

}
  .rad-label {
	display: flex;
	align-items: center;
	border-radius: 30px;
	padding: 10px 5px;
	margin: 10px 0;
	cursor: pointer;
	transition: .3s;
  }
  
  .rad-label:hover,
  .rad-label:focus-within {
	background: hsla(0, 0%, 80%, .14);
  }
  
  .rad-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
	z-index: -1;
  }
  
  .rad-design {
	width: 22px;
	height: 22px;
	border-radius: 100px;
  
	background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
	position: relative;
  }
  
  .rad-design::before {
	content: '';
  
	display: inline-block;
	width: inherit;
	height: inherit;
	border-radius: inherit;
  
	background: hsl(0, 0%, 90%);
	transform: scale(1.1);
	transition: .3s;
  }
  
  .rad-input:checked+.rad-design::before {
	transform: scale(0);
  }
  
  .rad-text {
	color: hsl(0, 0%, 60%);
	margin-left: 14px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
  
	transition: .3s;
  }
  
  .rad-input:checked~.rad-text {
	color: hsl(0, 0%, 40%);
  }
  
  .sliderBar{
	width: 80%;
	margin: 0 auto;
  }


  .sortingButton {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	border-radius: 100px;

	line-height: 2em;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	user-select: none;
	color: rgb(0,0,0);
	outline: none;
	border: 1px solid rgba(0,0,0,.4);
	border-top-color: rgba(0,0,0,.3);
	background: linear-gradient(90deg, rgb(152, 207, 195), rgb(86, 181, 184));
	box-shadow:
	 0 0 3px rgba(0,0,0,0) inset,
	 0 1px 1px 1px rgba(255,255,255,.2),
	 0 -1px 1px 1px rgba(0,0,0,0);
	transition: .5s;
  }
  .sortingButton:hover:not(:active) {
	box-shadow:
	 0 1px 1px 1px rgba(0,255,255,.5),
	 0 -1px 1px 1px rgba(0,255,255,.5);
	 transition: .5s ease-in-out;

  }
